.signup {
  width: 100vw;
  height: 100vh;
  background-color: #d8dde6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  /* background-color: beige; */
  width: 80%;
  height: 60%;
  display: flex;
}

.signupLeft,
.signupRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupLogo {
  font-size: 4rem;
  font-weight: 800;
  color: rgb(53, 157, 175);
  margin-bottom: 1rem;
}

.signupDesc {
  font-size: 1.5rem;
}

.signupBox{
    height: 30rem;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signupInput{
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid gray;
    font-size: 1rem;
    padding-left: 1rem;
}

.signupInput:focus{
    outline: none;
}

.signupButton{
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(53, 157, 175);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.signupForgot{
    text-align: center;
    color: #1775ee;
}

.signupRegisterButton{
    width: 50%;
    align-self: center;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: #62c04f;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
