.login {
  width: 100vw;
  height: 100vh;
  background-color: #d8dde6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  /* background-color: beige; */
  width: 80%;
  height: 60%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 4rem;
  font-weight: 800;
  color: rgb(53, 157, 175);
  margin-bottom: 1rem;
}

.loginDesc {
  font-size: 1.5rem;
}

.loginBox{
    height: 25rem;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid gray;
    font-size: 1rem;
    padding-left: 1rem;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(53, 157, 175);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.guestButton{
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(53, 157, 175);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 100%;
    align-self: center;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: #62c04f;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
