.findFriendsContainer {
  display: flex;
}

.findFriends {
  flex: 9;
  height: calc(100vh - 5rem);
  background-color: rgb(188, 235, 235);
  top: 5rem;
}

.findFriendsWrapper {
  padding: 1.5rem;
  background-color: rgb(231, 231, 231);
}

