.commentformTextArea {
  background-color: rgb(240, 233, 212);
  padding: 1rem;
}

.commentformTextArea textArea{
  /* background-color: green; */
  width: 100%;
  border-radius: 0.5rem;
}

.commentButton {
  width: 9rem;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0.5rem 0;
  background-color: rgb(209, 211, 119);
  /* color: white; */
}

.commentformHr {
  margin: 2rem 0;
}
