.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 0.5rem 0.5rem 0 0;
}

.rightbarTitle{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.rightbarHr {
  margin: 1rem 0;
}

.rightbarFriends li {
  margin-bottom: 0.25rem;
}

.rightBarAddFriend {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(235, 57, 57);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

