.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 0.5rem 0.5rem 0 0;
}

.rightbarTitle{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.rightbarHr {
  margin: 1rem 0;
}

.rightbarFriends li {
  margin-bottom: 0.25rem;
}